.vs/Proyect_Evento_Sistema/FileContentIndex/a58af0ec-2494-4f0a-9ae0-559a39ab73d1.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/c68e1879-9f8c-4c67-8584-bed106a4dfa4.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/e6bca3d4-5f3e-4f7e-aca0-64a9bbeeec36.vsidx
.vs/Proyect_Evento_Sistema/v17/.futdcache.v2
.vs/Proyect_Evento_Sistema/v17/.suo
.vs/Proyect_Evento_Sistema/v17/DocumentLayout.backup.json
.vs/Proyect_Evento_Sistema/v17/DocumentLayout.json
.vs/Proyect_Evento_Sistema/FileContentIndex/919f9e0e-f231-4d52-9b34-ad28f884db50.vsidx
.vs/ProjectEvaluation/proyect_evento_sistema.projects.v9.bin
.vs/ProjectEvaluation/proyect_evento_sistema.strings.v9.bin
.vs/Proyect_Evento_Sistema/config/applicationhost.config
.vs/Proyect_Evento_Sistema/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/Proyect_Evento_Sistema/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/Proyect_Evento_Sistema/DesignTimeBuild/.dtbcache.v2
.vs/Proyect_Evento_Sistema/FileContentIndex/333fa7be-11ba-4200-b486-8755607d900f.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/919f9e0e-f231-4d52-9b34-ad28f884db50.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/a58af0ec-2494-4f0a-9ae0-559a39ab73d1.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/c68e1879-9f8c-4c67-8584-bed106a4dfa4.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/e6bca3d4-5f3e-4f7e-aca0-64a9bbeeec36.vsidx
.vs/Proyect_Evento_Sistema/v17/.futdcache.v2
.vs/Proyect_Evento_Sistema/v17/.suo
.vs/Proyect_Evento_Sistema/v17/DocumentLayout.backup.json
.vs/Proyect_Evento_Sistema/v17/DocumentLayout.json
.vs/ProjectEvaluation/proyect_evento_sistema.metadata.v9.bin
.vs/ProjectEvaluation/proyect_evento_sistema.projects.v9.bin
.vs/ProjectEvaluation/proyect_evento_sistema.strings.v9.bin
.vs/Proyect_Evento_Sistema/config/applicationhost.config
.vs/Proyect_Evento_Sistema/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/Proyect_Evento_Sistema/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/Proyect_Evento_Sistema/DesignTimeBuild/.dtbcache.v2
.vs/Proyect_Evento_Sistema/FileContentIndex/333fa7be-11ba-4200-b486-8755607d900f.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/919f9e0e-f231-4d52-9b34-ad28f884db50.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/a58af0ec-2494-4f0a-9ae0-559a39ab73d1.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/c68e1879-9f8c-4c67-8584-bed106a4dfa4.vsidx
.vs/Proyect_Evento_Sistema/FileContentIndex/e6bca3d4-5f3e-4f7e-aca0-64a9bbeeec36.vsidx
.vs/Proyect_Evento_Sistema/v17/.futdcache.v2
.vs/Proyect_Evento_Sistema/v17/.suo
.vs/Proyect_Evento_Sistema/v17/DocumentLayout.backup.json
.vs/Proyect_Evento_Sistema/v17/DocumentLayout.json
.vs/ProjectEvaluation/proyect_evento_sistema.metadata.v9.bin
